body{
    background-color: #e700ad8e;
    border: groove;
}

img{
    width: 700px;
    border: 15px;color: 
    background-color: rgba(243, 6, 184, 0);
     
}
h2{
    text-align: center;color: 
    margin-bottom: 20px;
    color: rgb(112, 1, 1);
}
